Flask==3.0.0
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.31.0
cryptography==41.0.7
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.1
email-validator==2.1.0
google-cloud-scheduler==2.13.5
google-auth==2.23.4
moviepy==1.0.3
Pillow==9.5.0